{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trendyfilliatte - Affiliate Blog App</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1 clss="text-center fw-bold text-primary mb-0">
      Welcome to the Trendyfilliatte application!
    </h1>
  </body>
</html>
